*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        background-image: url("./src/utils/Body_image.png");
        background-size:cover;
    }
#root{
    width:100% ;
    height:100%;
}