.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    width: 95%;
    height: 80px;
  }
  .logo {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
  }
  
  .logo:hover {
    color: #fff;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
  }
  .nav-links {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
  }
  .nav-links:hover {
    background-color: #ff8c00;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
  }
  button {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  button:hover {
    background-color: #151516;
    color: #fff;
  }
  