.hero{
  width: 60%;
  height: 300px;
  color: white;
  margin: 100 auto;
  font-size: 1.8em;
  letter-spacing: 0.2rem;
}
.hero h1 span{
  color: pink;
  font-weight: bolder;
}
.hero h1{
  font-size: 2em;
}
form.example{
  width: 80%;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid white;
  border-radius: 10rem 0 0 10rem;
  float: left;
  width: 75%;
  background: #e6e3e3;
  
  font-size: 1.1rem;
}

form.example button {
  float: left;
  width: 25%;
  border-radius: 0 10rem 10rem 0;
  padding: 10px;
  background: rgb(240, 173, 184);
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.1rem;
}
form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}